<div class="rs-products">
  <div class="product-header" style="position: relative;">
    <div style="position:absolute; top: 0; right:0 ;">
      <button class="btn btn-default fa fa-download" ng-click="exportProduct()">Export</button>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <div class="product-title" s44-contenteditable value="product.name"
             on-save="saveProductName(newValue, oldValue, event)">
        </div>
        <div>
          Weight: <span>{{displayProductWt()}}</span>
          <select name="wtUnits" style="width: 75px; display:inline;" ng-model="displayWtUnits">
            <option ng-repeat="(optKey, optVal) in substanceUnitsMetaInfo"
                    ng-selected="optVal == displayWtUnits" value="{{optVal}}">{{optKey}}
            </option>
          </select>
        </div>
        <ng-include src="'app/todo.html'"></ng-include>
      </div>
    </div>
  </div>

  <div class="button-bar">
    <div class="col-xs-12">
      <div ng-if="product.isFmdComplete">
        <div class="pull-left">
          <span class="static-text fa fa-thumbs-o-up"> FMD is complete</span>
        </div>
        <div class="pull-right">
          <button type="button" ng-click="allowUpdateFmd()" class="btn btn-default">
            Modify FMD
          </button>
        </div>
      </div>
      <div ng-if="!product.isFmdComplete">
        <div class="pull-left">
          <button type="button" ng-click="addSubstance()" class="btn btn-s44-highlighted btn-default fa fa-plus ">
            Add substance
          </button>
          <button type="button" ng-click="uploadSubstance()" class="btn btn-default fa fa-upload">
            Upload substances
          </button>
        </div>
        <div class="pull-right">
          <button type="button" ng-click="setFmdComplete()" class="btn btn-default" ng-class="{'fa fa-checkmark':product.isFmdComplete}">
            Mark FMD complete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="grid2" ui-grid="gridOptions2" class="grid" ui-grid-pinning ui-grid-resize-columns ui-grid-tree-view></div>
    </div>
  </div>
</div>
<ui-view name="substanceModal"></ui-view>

