<nav class="navbar si-global-topbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand si-brand-squiggle" href="#/">
        <img width="40" height="40" s44-cdn="/images/logos/si_logo_squiggle_flat_x_130.png" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ui-view class="pull-left" name="navbar-left"></ui-view>
      <ui-view class="pull-right" name="navbar-right"></ui-view>
    </div>
  </div>
</nav>
